In [2]:
import pandas as pd

In [3]:
h1_df = pd.read_csv("H1.csv")
h2_df = pd.read_csv("H2.csv")

In [25]:
h2_df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,6,2015,July,27,1,0,2,1,0.0,...,No Deposit,6,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-03
1,1,88,2015,July,27,1,0,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-07-01
2,1,65,2015,July,27,1,0,4,1,0.0,...,No Deposit,9,NULL,0,Transient,68.0,0,1,Canceled,2015-04-30
3,1,92,2015,July,27,1,2,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,2,Canceled,2015-06-23
4,1,100,2015,July,27,2,0,2,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-04-02

In [31]:
h2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79330 entries, 0 to 79329
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   IsCanceled                   79330 non-null  int64
 1   LeadTime                     79330 non-null  int64
 2   ArrivalDateYear              79330 non-null  int64
 3   ArrivalDateMonth             79330 non-null  object
 4   ArrivalDateWeekNumber        79330 non-null  int64
 5   ArrivalDateDayOfMonth        79330 non-null  int64
 6   StaysInWeekendNights         79330 non-null  int64
 7   StaysInWeekNights            79330 non-null  int64
 8   Adults                       79330 non-null  int64
 9   Children                     79326 non-null  float64
 10  Babies                       79330 non-null  int64
 11  Meal                         79330 non-null  object
 12  Country                      79306 non-null  object
 13  MarketSegment                79330 non-null  object
 14  DistributionChannel          79330 non-null  object
 15  IsRepeatedGuest              79330 non-null  int64
 16  PreviousCancellations        79330 non-null  int64
 17  PreviousBookingsNotCanceled  79330 non-null  int64
 18  ReservedRoomType             79330 non-null  object
 19  AssignedRoomType             79330 non-null  object
 20  BookingChanges               79330 non-null  int64
 21  DepositType                  79330 non-null  object
 22  Agent                        79330 non-null  object
 23  Company                      79330 non-null  object
 24  DaysInWaitingList            79330 non-null  int64
 25  CustomerType                 79330 non-null  object
 26  ADR                          79330 non-null  float64
 27  RequiredCarParkingSpaces     79330 non-null  int64
 28  TotalOfSpecialRequests       79330 non-null  int64
 29  ReservationStatus            79330 non-null  object
 30  ReservationStatusDate        79330 non-null  object
dtypes: float64(2), int64(16), object(13)
memory usage: 18.8+ MB

In [15]:
#all no-shows are tagged as canceled reservations
h1_df[h1_df.ReservationStatus == 'No-Show'].loc[:,'IsCanceled'].unique()

array([1])

In [ ]:
h1_df['hotel'] = 'H1'
h2_df['hotel'] = 'H2'

In [38]:
print(h1_df.shape)
h2_df.shape

(40060, 32)

(79330, 32)

In [34]:
full_df = pd.concat([h1_df, h2_df], ignore_index=True)

In [35]:
full_df.shape

(119390, 32)

In [42]:
full_df['bookingID'] = full_df.index

In [46]:
booking_df = full_df[['bookingID', 'hotel', 'ArrivalDateYear', 'ArrivalDateMonth', 'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth', 'StaysInWeekendNights', 'StaysInWeekNights', 'LeadTime', 'Adults', 'Children', 'Babies', 'Country', 'ADR', 'ReservationStatus', 'ReservationStatusDate', 'IsCanceled']]

In [47]:
booking_df.head()

,bookingID,hotel,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,LeadTime,Adults,Children,Babies,Country,ADR,ReservationStatus,ReservationStatusDate,IsCanceled
0,0,H1,2015,July,27,1,0,0,342,2,0.0,0,PRT,0.0,Check-Out,2015-07-01,0
1,1,H1,2015,July,27,1,0,0,737,2,0.0,0,PRT,0.0,Check-Out,2015-07-01,0
2,2,H1,2015,July,27,1,0,1,7,1,0.0,0,GBR,75.0,Check-Out,2015-07-02,0
3,3,H1,2015,July,27,1,0,1,13,1,0.0,0,GBR,75.0,Check-Out,2015-07-02,0
4,4,H1,2015,July,27,1,0,2,14,2,0.0,0,GBR,98.0,Check-Out,2015-07-03,0

In [48]:
service_df = full_df[['bookingID','Meal', 'RequiredCarParkingSpaces', 'TotalOfSpecialRequests', 'ReservedRoomType', 'AssignedRoomType', 'BookingChanges']]

In [50]:
service_df.head()

,bookingID,Meal,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservedRoomType,AssignedRoomType,BookingChanges
0,0,BB,0,0,C,C,3
1,1,BB,0,0,C,C,4
2,2,BB,0,0,A,C,0
3,3,BB,0,0,A,A,0
4,4,BB,0,1,A,A,0

In [49]:
details_df = full_df[['bookingID', 'DepositType', 'DaysInWaitingList', 'CustomerType', 'IsRepeatedGuest', 'PreviousCancellations', 'PreviousBookingsNotCanceled', 'MarketSegment', 'DistributionChannel', 'Agent', 'Company']]

In [51]:
details_df.head()

,bookingID,DepositType,DaysInWaitingList,CustomerType,IsRepeatedGuest,PreviousCancellations,PreviousBookingsNotCanceled,MarketSegment,DistributionChannel,Agent,Company
0,0,No Deposit,0,Transient,0,0,0,Direct,Direct,NULL,NULL
1,1,No Deposit,0,Transient,0,0,0,Direct,Direct,NULL,NULL
2,2,No Deposit,0,Transient,0,0,0,Direct,Direct,NULL,NULL
3,3,No Deposit,0,Transient,0,0,0,Corporate,Corporate,304,NULL
4,4,No Deposit,0,Transient,0,0,0,Online TA,TA/TO,240,NULL

In [57]:
details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   bookingID                    119390 non-null  int64
 1   DepositType                  119390 non-null  object
 2   DaysInWaitingList            119390 non-null  int64
 3   CustomerType                 119390 non-null  object
 4   IsRepeatedGuest              119390 non-null  int64
 5   PreviousCancellations        119390 non-null  int64
 6   PreviousBookingsNotCanceled  119390 non-null  int64
 7   MarketSegment                119390 non-null  object
 8   DistributionChannel          119390 non-null  object
 9   Agent                        119390 non-null  object
 10  Company                      119390 non-null  object
dtypes: int64(5), object(6)
memory usage: 10.0+ MB

In [61]:
from sqlalchemy import create_engine
import pandas as pd


engine = create_engine('postgresql://gjuarez:localhost@localhost:5432/hotels')

# I'm choosing to name this table "aus_men"
booking_df.to_sql('booking', engine, index=False)

In [62]:
service_df.to_sql('service', engine, index=False)

In [63]:
details_df.to_sql('details', engine, index=False)